<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>577479272942-l8ifp5g2ubg9rkkhe3umhn8var94essh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577479272942-l8ifp5g2ubg9rkkhe3umhn8var94essh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>577479272942-js9t0oottfsskh3uq0tfck44ilk13f0m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAKcTsUavs9P-rTR0Z1xR1LzEz5p5Fncf4</string>
	<key>GCM_SENDER_ID</key>
	<string>577479272942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.schoolManagementSystem01</string>
	<key>PROJECT_ID</key>
	<string>school-management-system-3e076</string>
	<key>STORAGE_BUCKET</key>
	<string>school-management-system-3e076.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577479272942:ios:4a1a4dc549761bf056c6ff</string>
</dict>
</plist>